.filter__content-container {
    display: flex;
}
.filter-section {
    max-width: 350px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    max-height: 100%;
    background-color: rgb(232, 230, 230);
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.5);
}
.filter-title-block {
    text-align: center;
}
.filter-title {
    font-family: var(--font-poppins);
    font-size: var(--font-size-18);
    font-weight: 600;
    margin-bottom: 20px;
}
.filter-subtitle {
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: 500;
}
.filter-cubes-checkboxes {
    padding-top: 6px;
    padding-left: 20px;
}
.filter-category-checkboxes {
    padding-top: 6px;
    padding-left: 20px;
}
.filter-brands-checkboxes {
    padding-top: 6px;
    padding-left: 20px;
}
.filter-category {
    margin: 20px 0;
}
.cube-checkbox {
    font-family: var(--font-asap);
    font-size: var(--font-size-14);
    color: rgb(85, 85, 85);
}
.category-checkbox {
    font-family: var(--font-asap);
    font-size: var(--font-size-14);
    color: rgb(85, 85, 85);
}
.brand-checkbox {
    font-family: var(--font-asap);
    font-size: var(--font-size-14);
    color: rgb(85, 85, 85);
}
.filter-btn-block {
    margin: 40px 0;
}
.filter-btn {
    font-size: var(--font-size-18);
    font-family: var(--font-poppins);
    font-weight: 600;
    max-width: 230px;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 6px;
    border: 2px solid var(--color-main);
    color: var(--color-main);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}