@media (max-width: 1549px) {
    .header-nav-ul {
        justify-content: space-evenly;
    }
}
@media (max-width: 1449px) {
    .header-nav-ul li a {
        font-size: var(--font-size-18);
    }
    .header-nav-block {
        max-width: 600px;
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .header-btn {
        display: none;
    }
    .user-icon {
        display: block;
    }
    .header-buttons-block {
        max-width: 150px;
        width: 100%;
    }
    .header-buttons-block {
        justify-content: flex-end;
    }
    .header-nav-ul {
        justify-content: space-between;
    }
}
@media (max-width: 1149px) {
    .header-nav-block {
        max-width: 520px;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .header-nav-block {
        display: none;
    }
    .header-buttons-block {
        display: none;
    }
    .mobile-nav-button {
        display: flex;
    }
    .logo-img {
        width: 100%;
    }
}
@media ( max-width: 520px) {
    .mobile-nav-logo-link {
        padding-top: 70px;
        margin: 0 auto;
    }
    .mobile-nav-link {
        font-size: 30px;
    }
}
@media (max-width: 479px) {
    .logo-img {
        width: 90%;
    }
    .header-container {
        padding-left: 8px;
        padding-right: 12px;
    }
}
@media (max-width: 399px) {
    .mobile-nav-button__icon {
        width: 26px;
        height: 3px;
    }
    .mobile-nav-button__icon::before,
    .mobile-nav-button__icon::after {
        content: '';
        width: 26px;
        height: 3px;
    }
    .mobile-nav-button__icon::before {
        left: 0;
        top: -8px;
    }
    .mobile-nav-button__icon::after {
        left: 0;
        top: 8px;
    }
    .header-container {
        padding-right: 8px;
    }
    .mobile-nav-link {
        font-size: 24px;
    }
    .mobile-header-ul-item:not(:last-child) {
        margin-bottom: 35px;
    }
    .mobile-nav-block {
        padding-top: 20px;
        justify-content: space-evenly;
    }
    .mobile-nav-logo-link {
        padding: 20px 10px 0;

    }
}