.header-ul-item:hover a::after {
    content: '';
    height: 2px;
    width: 90%;
    background-color: var(--color-main);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
}
.login-btn:hover {
    background-color: var(--color-main);
    color: #fff;
}
.signup-btn:hover {
    background-color: #05628a;
}

.filter-btn:hover {
    background-color: var(--color-main);
    color: #fff;
}

.product-search:focus {
    border-color: var(--color-main);
}
.content-nav-text:hover {
    transform: scale(1.06);
}
.product-btn:hover {
    background-color: var(--color-main);
    color: #fff;
}

.page-number-block a:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 4px;
}
.page-nav-btn:hover {
    background-color: #05628a;
}
.product-block:hover {
    transform: scale(1.02);
}
.product-img:hover {
    transform: scale(1.02);
}
.heart-icon:hover {
    color: rgb(250, 55, 55);
    transform: scale(1.1);
}

.newsletter-btn:hover {
    background-color: #05628a;
}

.quiz-btn:hover {
    background-color: #05628a;
}

.contact-card-container:hover {
    /* transform: translateY(2px); */
    transform: scale(1.008);
}
.contact-social-media-icons-block i:hover {
    transform: scale(1.125);
}

.form-send-btn:hover {
    background-color: #05628a;
}