section {
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}
.quiz-video {
    width: 100%;
    display: block;
    /* padding-bottom: 20px;
    border-bottom: 1px solid var(--color-main); */
}
.quiz-container {
    position: relative;
    /* margin-top: 100px; */
    /* border-bottom: 2px solid var(--color-main); */
    /* border-top: 2px solid var(--color-main); */
    /* padding: 20px 0; */
}
.quiz-img {
    width: 100%;
    display: block;
    /* margin-top: 20px; */
}
.quiz-img-mobile {
    display: none;
    width: 100%;
}
.quiz-content-block {
    position: absolute;
    top: 40%;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 15px; */
}
.quiz-title {
    font-family: var(--font-poppins);
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.quiz-title::after {
    content: '';
    height: 3px;
    width: 20%;
    display: block;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}
.quiz-btn {
    max-width: 300px;
    width: 100%;
    font-family: var(--font-poppins);
    font-size: var(--font-size-18);
    color: #fff;
    background-color: var(--color-main);
    border-radius: 4px;
    padding: 4px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.15s linear;
    text-transform: uppercase;
    font-weight: 600;
}

/* Slider styles */

.slider-container {
    display: flex;
}
.slider-items {
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: #000;
}
.slider-items h1 {
    
    color: #fff;
}