:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-asap: 'Asap', sans-serif;
    --color-main: #009bde;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
}